
# ================== VSCode ====================
.vscode/



#===================  Python ====================
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/



# ===============================================
# Simulation outputs
# ===============================================
compress_rate/compress_rate_*/
RLP_exp/